<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />

    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{asset "css/barebones.min.css"}}"/>    
    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    <header role="banner" class="navbar navbar-full navbar-light navbar-fixed-top">
      <div class="container">{{navigation}}</div>
    </header>

    <main role="main" class="container">
    {{{body}}}
    </main>

    <footer role="contentinfo" class="navbar navbar-light navbar-full hidden-sm-down">
      <div class="container">
        {{#is "post"}}
          {{> adjacent}}
        {{/is}}
        {{#is "home,index"}}
          {{pagination}}
        {{/is}}
      </div>
    </footer>
    {{ghost_foot}}
    <script async src="//cdnjs.cloudflare.com/ajax/libs/tether/0.7.2/tether.min.js"></script>
    <script async src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script async src="{{asset "js/barebones.min.js"}}"></script>
  </body>
</html>
