<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />

    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{asset "css/barebones.min.css"}}"/>    
    {{ghost_head}}
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5MGXM4');
    </script>
  </head>

  <body class="{{body_class}}">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5MGXM4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager -->
    
    <header role="banner" class="navbar navbar-full navbar-light navbar-fixed-top">
      <div class="container">{{navigation}}</div>
    </header>

    <main role="main" class="container">
    {{{body}}}
    </main>

    <footer role="contentinfo" class="navbar navbar-light navbar-full hidden-sm-down">
      <time class="text-muted" datetime="{{date format="X"}}">&copy; {{date format="YYYY"}} {{@blog.title}}</time>
    </footer>
    {{ghost_foot}}
    <script async src="//cdnjs.cloudflare.com/ajax/libs/tether/0.7.2/tether.min.js"></script>
    <script async src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script async src="{{asset "js/barebones.min.js"}}"></script>
  </body>
</html>
